Repository pmmoss/EVO-TASKERS-TF: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/applications-pipeline.yml, pipelines/examples/single-app-pipeline.yml, pipelines/landing-zone-pipeline.yml

pipelines/applications-pipeline.yml:
  stages:
  - ${{ if eq(parameters.deployAutomatedDataFeed, true) }}:
    - stage: Plan_AutomatedDataFeed_Dev
      displayName: Plan - Automated Data Feed (Dev)
      condition: or(eq(variables['Build.SourceBranch'], 'refs/heads/develop'), eq(variables['Build.Reason'], 'PullRequest'))
      jobs:
  ...

pipelines/examples/single-app-pipeline.yml:
  stages:
  - stage: Dev
    displayName: Development
    condition: eq(variables['Build.SourceBranch'], 'refs/heads/develop')
    jobs:
    - job: Deploy
      displayName: Plan & Apply
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: ../templates/terraform-template.yml
        parameters:
  ...

pipelines/landing-zone-pipeline.yml:
  stages:
  - stage: Plan_Dev
    displayName: Plan - Development
    condition: or(eq(variables['Build.SourceBranch'], 'refs/heads/develop'), eq(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - job: TerraformPlan
      displayName: Terraform Plan (Dev)
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

fix
  project/evo-taskers/common/outputs.tf
  project/evo-taskers/shared/dev.tfvars
  project/evo-taskers/shared/variables.tf
Due: pipelines/landing-zone-pipeline.yml

Update outputs.tf
  project/evo-taskers/common/outputs.tf
Due: pipelines/landing-zone-pipeline.yml

fix shared
  project/evo-taskers/shared/backend.tf
  project/evo-taskers/shared/variables.tf
Due: none

ewr
  project/evo-taskers/shared/dev.tfvars
  project/evo-taskers/shared/variables.tf
Due: none

Update windows_function_app.tf
  project/evo-taskers/unlockbookings/windows_function_app.tf
Due: pipelines/applications-pipeline.yml

Update main.tf
  project/evo-taskers/automateddatafeed/main.tf
Due: pipelines/applications-pipeline.yml, pipelines/examples/single-app-pipeline.yml

test
  project/evo-taskers/shared/backend.tf
  project/evo-taskers/unlockbookings/dev.tfvars
Due: pipelines/applications-pipeline.yml

refactor app service plans to shared
  project/evo-taskers/ARCHITECTURE-CHANGE-SUMMARY.md
  project/evo-taskers/CHANGES-COMPLETED.md
  project/evo-taskers/MIGRATION-SUMMARY.md
  project/evo-taskers/REVISED-ARCHITECTURE.md
  project/evo-taskers/SHARED-STATE-MIGRATION-GUIDE.md
  project/evo-taskers/VERIFICATION-REPORT.md
  project/evo-taskers/automateddatafeed/outputs.tf
  project/evo-taskers/automateddatafeed/windows_function_app.tf
  project/evo-taskers/autoopenshorex/main.tf
  project/evo-taskers/autoopenshorex/outputs.tf
  project/evo-taskers/autoopenshorex/windows_function_app.tf
  project/evo-taskers/common/qa.tfvars
  project/evo-taskers/dashboard/main.tf
  project/evo-taskers/dashboard/outputs.tf
  project/evo-taskers/dashboard/qa.tfvars
  project/evo-taskers/dashboard/windows_function_app.tf
  project/evo-taskers/sendgridfunction/main.tf
  project/evo-taskers/sendgridfunction/outputs.tf
  project/evo-taskers/sendgridfunction/windows_function_app.tf
  project/evo-taskers/shared/README.md
  project/evo-taskers/shared/prod.tfvars
  project/evo-taskers/shared/qa.tfvars
  project/evo-taskers/unlockbookings/logic_app_standard.tf
  project/evo-taskers/unlockbookings/outputs.tf
  project/evo-taskers/unlockbookings/windows_function_app.tf
Due: pipelines/applications-pipeline.yml, pipelines/examples/single-app-pipeline.yml, pipelines/landing-zone-pipeline.yml

push
  AVM-COMPLETE-CONVERSION-SUMMARY.md
  AVM-CONVERSION-SUMMARY.md
  TFVARS-UPDATE-SUMMARY.md
  project/evo-taskers/automateddatafeed/dev.tfvars
  project/evo-taskers/automateddatafeed/outputs.tf
  project/evo-taskers/automateddatafeed/prod.tfvars
  project/evo-taskers/automateddatafeed/qa.tfvars
  project/evo-taskers/automateddatafeed/windows_function_app.tf
  project/evo-taskers/autoopenshorex/outputs.tf
  project/evo-taskers/autoopenshorex/windows_function_app.tf
  project/evo-taskers/common/main.tf
  project/evo-taskers/common/outputs.tf
  project/evo-taskers/common/prod.tfvars
  project/evo-taskers/common/variables.tf
  project/evo-taskers/dashboard/outputs.tf
  project/evo-taskers/dashboard/windows_function_app.tf
  project/evo-taskers/dashboardfrontend/linux_web_app.tf
  project/evo-taskers/dashboardfrontend/outputs.tf
  project/evo-taskers/sendgridfunction/outputs.tf
  project/evo-taskers/sendgridfunction/windows_function_app.tf
  project/evo-taskers/unlockbookings/logic_app_standard.tf
  project/evo-taskers/unlockbookings/windows_function_app.tf
Due: pipelines/applications-pipeline.yml, pipelines/examples/single-app-pipeline.yml, pipelines/landing-zone-pipeline.yml

Update main.tf
  project/evo-taskers/common/main.tf
Due: pipelines/landing-zone-pipeline.yml

add asp to common
  project/evo-taskers/common/main.tf
  project/evo-taskers/unlockbookings/logic_app_standard.tf
  project/evo-taskers/unlockbookings/main.tf
  project/evo-taskers/unlockbookings/windows_function_app.tf
Due: pipelines/applications-pipeline.yml, pipelines/landing-zone-pipeline.yml

Update backend.tf
  project/evo-taskers/common/backend.tf
Due: pipelines/landing-zone-pipeline.yml

version upgrade
  project/evo-taskers/automateddatafeed/backend.tf
  project/evo-taskers/automateddatafeed/windows_function_app.tf
  project/evo-taskers/autoopenshorex/backend.tf
  project/evo-taskers/autoopenshorex/windows_function_app.tf
  project/evo-taskers/common/backend.tf
  project/evo-taskers/common/main.tf
  project/evo-taskers/dashboard/backend.tf
  project/evo-taskers/dashboard/windows_function_app.tf
  project/evo-taskers/dashboardfrontend/backend.tf
  project/evo-taskers/dashboardfrontend/linux_web_app.tf
  project/evo-taskers/sendgridfunction/backend.tf
  project/evo-taskers/sendgridfunction/windows_function_app.tf
  project/evo-taskers/unlockbookings/backend.tf
  project/evo-taskers/unlockbookings/main.tf
  project/revms/common/backend.tf
Due: pipelines/applications-pipeline.yml, pipelines/examples/single-app-pipeline.yml, pipelines/landing-zone-pipeline.yml

i
  project/evo-taskers/common/main.tf
  project/evo-taskers/common/outputs.tf
Due: pipelines/landing-zone-pipeline.yml

fd
  project/evo-taskers/common/main.tf
  project/evo-taskers/common/outputs.tf
Due: pipelines/landing-zone-pipeline.yml

fg
  project/evo-taskers/common/dev.tfvars
  project/evo-taskers/common/locals.tf
  project/evo-taskers/common/main.tf
  project/evo-taskers/common/outputs.tf
  project/evo-taskers/common/variables.tf
Due: pipelines/landing-zone-pipeline.yml

n
  project/evo-taskers/automateddatafeed/dev.tfvars
  project/evo-taskers/common/main.tf
Due: pipelines/applications-pipeline.yml, pipelines/examples/single-app-pipeline.yml, pipelines/landing-zone-pipeline.yml

re
  project/evo-taskers/common/main.tf
  project/evo-taskers/common/variables.tf
Due: pipelines/landing-zone-pipeline.yml

Update variables.tf
  project/evo-taskers/common/variables.tf
Due: pipelines/landing-zone-pipeline.yml

k
  project/evo-taskers/common/dev.auto.tfvars
Due: pipelines/landing-zone-pipeline.yml

v
  projects/evo-taskers/common/dev.auto.tfvars
  projects/evo-taskers/common/main.tf
Due: none

Update main.tf
  projects/evo-taskers/common/main.tf
Due: none

Path conditions:
  pipelines/applications-pipeline.yml: any of: project/evo-taskers/automateddatafeed, project/evo-taskers/dashboard, project/evo-taskers/dashboardfrontend, project/evo-taskers/sendgridfunction, project/evo-taskers/unlockbookings, project/evo-taskers/autoopenshorex, modules/windows_function_app, modules/linux_web_app, pipelines/applications-pipeline.yml
  pipelines/examples/single-app-pipeline.yml: any of: project/evo-taskers/automateddatafeed
  pipelines/landing-zone-pipeline.yml: any of: project/evo-taskers/common, modules/network, modules/keyvault, modules/storage, modules/log_analytics, modules/app_insights, modules/bastion, pipelines/landing-zone-pipeline.yml
