Repository pmmoss/EVO-TASKERS-TF: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/applications-pipeline.yml, pipelines/examples/single-app-pipeline.yml, pipelines/landing-zone-pipeline.yml

Path conditions:
  pipelines/applications-pipeline.yml: any of: project/evo-taskers/automateddatafeed, project/evo-taskers/dashboard, project/evo-taskers/dashboardfrontend, project/evo-taskers/sendgridfunction, project/evo-taskers/unlockbookings, project/evo-taskers/autoopenshorex, modules/windows_function_app, modules/linux_web_app, pipelines/applications-pipeline.yml
  pipelines/examples/single-app-pipeline.yml: any of: project/evo-taskers/automateddatafeed
  pipelines/landing-zone-pipeline.yml: any of: project/evo-taskers/common, modules/network, modules/keyvault, modules/storage, modules/log_analytics, modules/app_insights, modules/bastion, pipelines/landing-zone-pipeline.yml

Update windows_function_app.tf
  project/evo-taskers/unlockbookings/windows_function_app.tf
Due: pipelines/applications-pipeline.yml

Update main-pipeline.yml
  .azure_pipelines/main-pipeline.yml
Due: none

Create claude.yml
  .azure_pipelines/claude.yml
Due: none

fds
  .azure_pipelines/claude.yml
  .azure_pipelines/main-pipeline.yml
  .azure_pipelines/main-pipeline.yml-old
Due: none

rbac-fix
  .azure_pipelines/bootstap-rbac.yml
Due: none

ds
  .azure_pipelines/main-pipeline.yml
  modules/logic_app_standard/main.tf
  modules/logic_app_standard/variables.tf
  project/evo-taskers/unlockbookings/backend.tf
  project/evo-taskers/unlockbookings/dev.tfvars
Due: pipelines/applications-pipeline.yml

f
  project/evo-taskers/common/backend.tf
  project/evo-taskers/unlockbookings/backend.tf
Due: pipelines/applications-pipeline.yml, pipelines/landing-zone-pipeline.yml

f-n OIDC
  .azure_pipelines/main-pipeline.yml
Due: none

push
  project/evo-taskers/automateddatafeed/backend.tf
  project/evo-taskers/autoopenshorex/backend.tf
  project/evo-taskers/common/backend.tf
  project/evo-taskers/dashboard/backend.tf
  project/evo-taskers/dashboardfrontend/backend.tf
  project/evo-taskers/sendgridfunction/backend.tf
  project/evo-taskers/unlockbookings/backend.tf
Due: pipelines/applications-pipeline.yml, pipelines/examples/single-app-pipeline.yml, pipelines/landing-zone-pipeline.yml

t
  .azure_pipelines/main-pipeline.yml
  .azure_pipelines/scripts/check-permissions.sh
Due: none

op
  modules/app_insights/main.tf
  modules/storage/main.tf
Due: pipelines/landing-zone-pipeline.yml

Update outputs.tf
  modules/app_insights/outputs.tf
Due: pipelines/landing-zone-pipeline.yml

Update main.tf
  modules/storage/main.tf
Due: pipelines/landing-zone-pipeline.yml

no workspaces per Meeting Tuesday
  .azure_pipelines/main-pipeline.yml-old
  project/evo-taskers/automateddatafeed/dev.tfvars
  project/evo-taskers/automateddatafeed/main.tf
  project/evo-taskers/automateddatafeed/prod.tfvars
  project/evo-taskers/automateddatafeed/qa.tfvars
  project/evo-taskers/automateddatafeed/variables.tf
  project/evo-taskers/autoopenshorex/dev.tfvars
  project/evo-taskers/autoopenshorex/main.tf
  project/evo-taskers/autoopenshorex/variables.tf
  project/evo-taskers/dashboard/dev.tfvars
  project/evo-taskers/dashboard/main.tf
  project/evo-taskers/dashboard/variables.tf
  project/evo-taskers/dashboardfrontend/dev.tfvars
  project/evo-taskers/dashboardfrontend/main.tf
  project/evo-taskers/dashboardfrontend/variables.tf
  project/evo-taskers/sendgridfunction/dev.tfvars
  project/evo-taskers/sendgridfunction/main.tf
  project/evo-taskers/sendgridfunction/prod.tfvars
  project/evo-taskers/sendgridfunction/qa.tfvars
  project/evo-taskers/sendgridfunction/variables.tf
  project/evo-taskers/unlockbookings/backend.tf
  project/revms/common/backend.tf
Due: pipelines/applications-pipeline.yml, pipelines/examples/single-app-pipeline.yml

f
  project/evo-taskers/automateddatafeed/.gitignore
  project/evo-taskers/automateddatafeed/outputs.tf
Due: pipelines/applications-pipeline.yml, pipelines/examples/single-app-pipeline.yml

test
  .azure_pipelines/main-pipeline.yml
  .azure_pipelines/templates/setup-auth.yml
  .azure_pipelines/templates/terraform-apply.yml
  .azure_pipelines/templates/terraform-init.yml
  .azure_pipelines/templates/terraform-plan.yml
Due: none

fix reafme
  .azure_pipelines/scripts/backend-setup-scripts/setup-terraform-state.sh
  .azure_pipelines/template-broken-main-pipeline.yml
  README.md
Due: none

add cost
  .azure_pipelines/PIPELINE-FLOW.md
  .azure_pipelines/QUICK-REFERENCE.md
  .azure_pipelines/README.md
  .azure_pipelines/SECURITY-AND-COST-SETUP.md
  .azure_pipelines/main-pipeline.yml
  .azure_pipelines/templates/cost-analysis.yml
  .azure_pipelines/templates/security-scan.yml
  README.md
Due: none

h
  .azure_pipelines/CHANGELOG.md
  .azure_pipelines/SECURITY-AND-COST-SETUP.md
  .azure_pipelines/templates/security-scan.yml
Due: none

fsd
  .azure_pipelines/CHANGELOG.md
  .azure_pipelines/README.md
  README.md
  modules/linux_web_app/main.tf
Due: pipelines/applications-pipeline.yml

fix-pe-naming and collision
  modules/linux_function_app/main.tf
  modules/linux_web_app/main.tf
  modules/logic_app_standard/main.tf
  modules/windows_function_app/main.tf
Due: pipelines/applications-pipeline.yml

add
  .azure_pipelines/CHANGELOG.md
  .azure_pipelines/README.md
  .azure_pipelines/multi-app-pipeline.yml
Due: none

fix plan issue
  .azure_pipelines/CHANGELOG.md
  .azure_pipelines/README.md
  .azure_pipelines/templates/terraform-apply.yml
Due: none

split app services to shared
  modules/APP-SERVICE-PLAN-REFACTOR-SUMMARY.md
  modules/ARCHITECTURE-DIAGRAM.md
  modules/MIGRATION-GUIDE.md
  modules/QUICK-REFERENCE.md
  modules/app_service_plan/README.md
  modules/app_service_plan/main.tf
  modules/app_service_plan/outputs.tf
  modules/app_service_plan/variables.tf
  modules/linux_function_app/main.tf
  modules/linux_function_app/outputs.tf
  modules/linux_function_app/variables.tf
  modules/logic_app_standard/main.tf
  modules/logic_app_standard/outputs.tf
  modules/logic_app_standard/variables.tf
  modules/windows_function_app/main.tf
  modules/windows_function_app/outputs.tf
  modules/windows_function_app/variables.tf
  project/evo-taskers/DEPLOYMENT-GUIDE.md
  project/evo-taskers/FILE-CHANGES-SUMMARY.md
  project/evo-taskers/QUICK-START.md
  project/evo-taskers/SHARED-MIGRATION-SUMMARY.md
  project/evo-taskers/automateddatafeed/windows_function_app.tf
  project/evo-taskers/common/variables.tf
  project/evo-taskers/shared/.gitignore
  project/evo-taskers/shared/README.md
  project/evo-taskers/shared/app_service_plans.tf
  project/evo-taskers/shared/backend.tf
  project/evo-taskers/shared/dev.tfvars
  project/evo-taskers/shared/main.tf
  project/evo-taskers/shared/outputs.tf
  project/evo-taskers/shared/variables.tf
  project/evo-taskers/unlockbookings/dev.tfvars
  project/evo-taskers/unlockbookings/logic_app_standard.tf
  project/evo-taskers/unlockbookings/main.tf
  project/evo-taskers/validate-deployment.sh
Due: pipelines/applications-pipeline.yml, pipelines/examples/single-app-pipeline.yml, pipelines/landing-zone-pipeline.yml
