Repository pmmoss/EVO-TASKERS-TF: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/applications-pipeline.yml, pipelines/examples/single-app-pipeline.yml, pipelines/landing-zone-pipeline.yml

pipelines/applications-pipeline.yml:
  stages:
  - ${{ if eq(parameters.deployAutomatedDataFeed, true) }}:
    - stage: Plan_AutomatedDataFeed_Dev
      displayName: Plan - Automated Data Feed (Dev)
      condition: or(eq(variables['Build.SourceBranch'], 'refs/heads/develop'), eq(variables['Build.Reason'], 'PullRequest'))
      jobs:
  ...

pipelines/examples/single-app-pipeline.yml:
  stages:
  - stage: Dev
    displayName: Development
    condition: eq(variables['Build.SourceBranch'], 'refs/heads/develop')
    jobs:
    - job: Deploy
      displayName: Plan & Apply
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: ../templates/terraform-template.yml
        parameters:
  ...

pipelines/landing-zone-pipeline.yml:
  stages:
  - stage: Plan_Dev
    displayName: Plan - Development
    condition: or(eq(variables['Build.SourceBranch'], 'refs/heads/develop'), eq(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - job: TerraformPlan
      displayName: Terraform Plan (Dev)
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

f
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  GETTING-STARTED.md
  README.md
  pipelines/INDEX.md
  pipelines/QUICK-REFERENCE.md
  pipelines/setup/create-variable-groups.sh
  pipelines/setup/fix-backend-configs.sh
Due: none

commit
  backend-setup-scripts/setup-terraform-state.sh
  global/backend.tf
  project/evo-taskers/automateddatafeed/backend.tf
  project/evo-taskers/autoopenshorex/backend.tf
  project/evo-taskers/common/backend.tf
  project/evo-taskers/dashboard/backend.tf
  project/evo-taskers/dashboardfrontend/backend.tf
  project/evo-taskers/sendgridfunction/backend.tf
  project/evo-taskers/unlockbookings/backend.tf
  project/revms/common/backend.tf
Due: pipelines/applications-pipeline.yml, pipelines/examples/single-app-pipeline.yml, pipelines/landing-zone-pipeline.yml

Update terraform-template.yml
  pipelines/templates/terraform-template.yml
Due: none

fd
  pipelines/examples/destroy-pipeline.yml
  pipelines/setup/QUICK-FIX.md
  pipelines/setup/create-environments.sh
  pipelines/templates/terraform-template.yml
Due: none

fd
  modules/logic_app_standard/README.md
  modules/logic_app_standard/main.tf
  modules/logic_app_standard/outputs.tf
  modules/logic_app_standard/variables.tf
  project/evo-taskers/unlockbookings/dev.tfvars
  project/evo-taskers/unlockbookings/logic_app_standard.tf
  project/evo-taskers/unlockbookings/outputs.tf
  project/evo-taskers/unlockbookings/qa.tfvars
  project/evo-taskers/unlockbookings/variables.tf
Due: pipelines/applications-pipeline.yml

f
  .azure_pipelines/app-pipeline.yml
  .azure_pipelines/main-pipeline.yml
  .azure_pipelines/templates/apply.yml
  .azure_pipelines/templates/plan.yml
  .azure_pipelines/templates/terraform-init.yml
  project/evo-taskers/unlockbookings/backend.tf
Due: pipelines/applications-pipeline.yml

fds
  .azure_pipelines/templates/terraform-apply.yml
  .azure_pipelines/templates/terraform-plan.yml
Due: none

Delete app-pipeline.yml
  .azure_pipelines/app-pipeline.yml
Due: none

Update main-pipeline.yml
  .azure_pipelines/main-pipeline.yml
Due: none

fd
  .azure_pipelines/main-pipeline.yml
  .azure_pipelines/templates/terraform-init.yml
Due: none

Update terraform-init.yml
  .azure_pipelines/templates/terraform-init.yml
Due: none

f
  .azure_pipelines/templates/terraform-apply.yml
  .azure_pipelines/templates/terraform-init.yml
  .azure_pipelines/templates/terraform-plan.yml
Due: none

g
  .azure_pipelines/templates/terraform-apply.yml
  .azure_pipelines/templates/terraform-init.yml
  .azure_pipelines/templates/terraform-plan.yml
Due: none

v
  .azure_pipelines/templates/terraform-init.yml
Due: none

Update terraform-plan.yml
  .azure_pipelines/templates/terraform-plan.yml
Due: none

df
  .azure_pipelines/main-pipeline.yml
  .azure_pipelines/templates/terraform-init.yml
  project/evo-taskers/unlockbookings/backend.tf
Due: pipelines/applications-pipeline.yml

we
  .azure_pipelines/main-pipeline.yml
  .azure_pipelines/template-broken-main-pipeline.yml
Due: none

e
  .azure_pipelines/main-pipeline.yml
  .azure_pipelines/templates/terraform-plan.yml
Due: none

Update backend.tf
  project/evo-taskers/unlockbookings/backend.tf
Due: pipelines/applications-pipeline.yml

Path conditions:
  pipelines/applications-pipeline.yml: any of: project/evo-taskers/automateddatafeed, project/evo-taskers/dashboard, project/evo-taskers/dashboardfrontend, project/evo-taskers/sendgridfunction, project/evo-taskers/unlockbookings, project/evo-taskers/autoopenshorex, modules/windows_function_app, modules/linux_web_app, pipelines/applications-pipeline.yml
  pipelines/examples/single-app-pipeline.yml: any of: project/evo-taskers/automateddatafeed
  pipelines/landing-zone-pipeline.yml: any of: project/evo-taskers/common, modules/network, modules/keyvault, modules/storage, modules/log_analytics, modules/app_insights, modules/bastion, pipelines/landing-zone-pipeline.yml
